<div class="color-container">
  <!-- Typepograph Variants  -->
  <lib-card [cardType]="cardTypes.advanced" [header]="'Typography Variants'">
    <div footer class="footer">
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h2"
        [tag]="typography.h2"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h3"
        [tag]="typography.h3"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h4"
        [tag]="typography.h4"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h5"
        [tag]="typography.h5"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h6"
        [tag]="typography.h6"
      ></lib-typography>
      <lib-typography
        [variant]="typography.subtitle"
        [tag]="typography.subtitle"
      ></lib-typography>
      <lib-typography
        [variant]="typography.body"
        [tag]="typography.body"
      ></lib-typography>
      <lib-typography
        [variant]="typography.caption"
        [tag]="typography.caption"
      ></lib-typography>
      <lib-typography
        [variant]="typography.overline"
        [tag]="typography.overline"
      ></lib-typography>
    </div>
  </lib-card>

  <!-- Typepograph Colors  -->
  <lib-card [cardType]="cardTypes.advanced" [header]="'Typography Colors'">
    <div footer class="footer">
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textSecondary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textDanger"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textDanger"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textWarning"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textInfo"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textGrayDark"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.overline"
        [color]="typographyColor.textWhite"
      ></lib-typography>

    </div>
  </lib-card>

  <!-- Typepograph Background  -->
  <lib-card [cardType]="cardTypes.advanced" [header]="'Typography Background'">
    <div footer class="footer">
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [label]="typographyColor.textPrimary"
        [background]="typographyBackground.primary"
        [color]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h2"
        [tag]="typography.h2"
        [label]="typographyColor.textSecondary"
        [background]="typographyBackground.secondary"
        [color]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h3"
        [tag]="typography.h3"
        [label]="typographyColor.textSuccess"
        [background]="typographyBackground.success"
        [color]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h4"
        [tag]="typography.h4"
        [label]="typographyColor.textWarning"
        [background]="typographyBackground.warning"
        [color]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h5"
        [tag]="typography.h5"
        [label]="typographyColor.textInfo"
        [background]="typographyBackground.info"
        [color]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h6"
        [tag]="typography.h6"
        [label]="typographyColor.textGrayDark"
        [background]="typographyBackground.grayLight"
        [color]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.body"
        [tag]="typography.body"
        [label]="typographyColor.textWhite"
        [background]="typographyBackground.grayDark"
        [color]="typographyColor.textWhite"
      ></lib-typography>


    </div>
  </lib-card>
</div>
