<div class="typography-container">
  <!-- Typepograph Variants  -->
  <lib-card [cardType]="cardTypes.advanced" [header]="'Typography Variants'">
    <div footer class="footer">
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [label]="typography.h1"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h2"
        [tag]="typography.h2"
        [label]="typography.h2"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h3"
        [tag]="typography.h3"
        [label]="typography.h3"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h4"
        [tag]="typography.h4"
        [label]="typography.h4"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h5"
        [tag]="typography.h5"
        [label]="typography.h5"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h6"
        [tag]="typography.h6"
        [label]="typography.h6"
      ></lib-typography>
      <lib-typography
        [variant]="typography.subtitle"
        [tag]="typography.subtitle"
        [label]="typography.subtitle"
      ></lib-typography>
      <lib-typography
        [variant]="typography.body"
        [tag]="typography.body"
        [label]="typography.body"
      ></lib-typography>
      <lib-typography
        [variant]="typography.caption"
        [tag]="typography.caption"
        [label]="typography.caption"
      ></lib-typography>
      <lib-typography
        [variant]="typography.overline"
        [tag]="typography.overline"
        [label]="typography.overline"
      ></lib-typography>
    </div>
  </lib-card>

    <!-- Typepograph Background  -->
    <lib-card [cardType]="cardTypes.advanced" [header]="'Typography Background'">
      <div footer class="footer">
        <lib-typography
          [variant]="typography.h1"
          [tag]="typography.h1"
          [label]="typographyBackground.primary"
          [background]="typographyBackground.primary"
        ></lib-typography>
        <lib-typography
          [variant]="typography.h2"
          [tag]="typography.h2"
          [label]="typographyBackground.secondary"
          [background]="typographyBackground.secondary"
        ></lib-typography>
        <lib-typography
          [variant]="typography.h1"
          [tag]="typography.h1"
          [label]="typographyBackground.success"
          [background]="typographyBackground.success"
        ></lib-typography>
        <lib-typography
          [variant]="typography.h1"
          [tag]="typography.h1"
          [label]="typographyBackground.warning"
          [background]="typographyBackground.warning"
        ></lib-typography>
        <lib-typography
          [variant]="typography.h1"
          [tag]="typography.h1"
          [label]="typographyBackground.info"
          [background]="typographyBackground.info"
        ></lib-typography>
        <lib-typography
          [variant]="typography.h1"
          [tag]="typography.h1"
          [label]="typographyBackground.grayLight"
          [background]="typographyBackground.grayLight"
        ></lib-typography>
        <lib-typography
          [variant]="typography.h1"
          [tag]="typography.h1"
          [label]="typographyBackground.grayDark"
          [color]="typographyColor.textWhite"
          [background]="typographyBackground.grayDark"
        ></lib-typography>
      </div>
    </lib-card>

  <!-- Typepograph Colors  -->
  <lib-card [cardType]="cardTypes.advanced" [header]="'Typography Colors'">
    <div footer class="footer">
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textPrimary"
        [label]="typographyColor.textPrimary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textSecondary"
        [label]="typographyColor.textSecondary"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textSuccess"
        [label]="typographyColor.textSuccess"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textDanger"
        [label]="typographyColor.textDanger"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textWarning"
        [label]="typographyColor.textWarning"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textInfo"
        [label]="typographyColor.textInfo"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textGrayDark"
        [label]="typographyColor.textGrayDark"
      ></lib-typography>
      <lib-typography
        [variant]="typography.h1"
        [tag]="typography.h1"
        [color]="typographyColor.textWhite"
        [label]="typographyColor.textWhite"
        [background]="typographyBackground.grayDark"
      ></lib-typography>

    </div>
  </lib-card>
</div>
