<div class="onboarding-container">
  <div class="onboarding-content">
    <lib-card
      [cardType]="cardTypes.advanced"
      [header]="onBoadingHeader"
      [subHeader]="onBoadingSubHeader"
    >
      <div footer class="footer onboarding-content">
        <p-steps
          [model]="steps"
          (activeIndexChange)="onStepChange($event)"
          [activeIndex]="activeIndex"
          [readonly]="false"
        ></p-steps>
        <form [formGroup]="form">
          @switch (activeIndex()) { @case (onBoardingStep.signUp) {
          <div class="onboarding-form" formGroupName="signUp">
            <!-- Email Field -->
            <div class="form-group">
              <ng-container *ngIf="form.get('signUp.email') as email">
                <lib-input
                  [inputType]="inputTypes.email"
                  label="Email"
                  placeholder="Email"
                  formControlName="email"
                  [invalid]="email.invalid && email.touched"
                ></lib-input>

                <ng-container *ngIf="email.touched && email.invalid">
                  @if (email.errors?.['required']) {
                  <p class="error-message">Email is required.</p>
                  } @else if (email.errors?.['email']) {
                  <p class="error-message">Invalid email address.</p>
                  }
                </ng-container>
              </ng-container>
            </div>

            <!-- Password Field -->
            <div class="form-group">
              <ng-container *ngIf="form.get('signUp.password') as password">
                <lib-input
                  [inputType]="inputTypes.password"
                  label="Password"
                  placeholder="Password"
                  formControlName="password"
                  [invalid]="password.invalid && password.touched"
                ></lib-input>

                <ng-container *ngIf="password.touched && password.invalid">
                  @if (password.errors?.['required']) {
                  <p class="error-message">Password is required.</p>
                  } @else if (password.errors?.['minlength']) {
                  <p class="error-message">
                    Password must be at least 8 characters
                  </p>
                  }
                </ng-container>
              </ng-container>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
              <ng-container
                *ngIf="form.get('signUp.confirmPassword') as confirmPassword"
              >
                <lib-input
                  [inputType]="inputTypes.password"
                  label="Confirm Password"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                  [invalid]="confirmPassword.invalid && confirmPassword.touched"
                ></lib-input>

                <ng-container *ngIf="confirmPassword.touched">
                  @if (confirmPassword.errors?.['required']) {
                  <p class="error-message">Confirm Password is required.</p>
                  } @else if (confirmPassword.value !==
                  form.get('signUp.password')?.value) {
                  <p class="error-message">Passwords do not match</p>
                  }
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="single-btn-container">
            <button
              class="next-button"
              severity="info"
              pButton
              label="Next"
              (click)="next()"
            ></button>
          </div>
          <ng-container
            *ngTemplateOutlet="
              errorMessages;
              context: { errors: getFormErrors() }
            "
          ></ng-container>
          } @case (onBoardingStep.personalInformation) {
          <div class="onboarding-form" formGroupName="personalInformation">
            <lib-input
              [inputType]="inputTypes.text"
              [label]="'First Name'"
              [placeholder]="'First Name'"
            ></lib-input>
            <lib-input
              [inputType]="inputTypes.text"
              [label]="'Last Name'"
              [placeholder]="'Last Name'"
            ></lib-input>
            <lib-select
              [selectStyle]="selectStyle.basic"
              [label]="'Gender'"
              [placeholder]="'Gender'"
              [options]="genderOptions"
            ></lib-select>
            <lib-input
              [inputType]="inputTypes.date"
              [label]="'Date of Birth'"
              [placeholder]="'Date of Birth'"
            ></lib-input>
            <lib-input
              [inputType]="inputTypes.number"
              [label]="'Phone Number'"
              [placeholder]="'Phone Number'"
            ></lib-input>
            <lib-textarea
              [inputType]="inputTypes.text"
              [label]="'Address'"
              [placeholder]="'Address'"
            ></lib-textarea>
            <div class="button-container">
              <button
                class="back-button"
                pButton
                severity="secondary"
                label="Back"
                (click)="prev()"
              ></button>
              <button
                class="next-button"
                pButton
                severity="info"
                label="Next"
                (click)="next()"
              ></button>
            </div>
          </div>
          } @case (onBoardingStep.educationInformation) {
          <div class="onboarding-form" formGroupName="educationInformation">
            <lib-input
              [inputType]="inputTypes.text"
              [label]="'High School'"
              [placeholder]="'Name of your high school'"
            ></lib-input>
            <lib-select
              [selectStyle]="selectStyle.basic"
              [label]="'Graduation Year'"
              [placeholder]="'Select Year'"
              [options]="graduationYearOptions"
            ></lib-select>
            <lib-input
              [inputType]="inputTypes.number"
              [label]="'GPA'"
              [placeholder]="'e.g., 3.5'"
            ></lib-input>
            <lib-input
              [inputType]="inputTypes.text"
              [label]="'Intended Major'"
              [placeholder]="'e.g., Computer Science'"
            ></lib-input>
            <lib-input
              [inputType]="inputTypes.text"
              [label]="'Secondary Major/Minor(Optional)'"
              [placeholder]="'e.g., Mathematics'"
            ></lib-input>
            <lib-textarea
              [inputType]="inputTypes.text"
              [label]="'Extracurricular Activities'"
              [placeholder]="
                'Describe your extracurricular activities, achievements, or positions held'
              "
            ></lib-textarea>
            <div class="button-container">
              <button
                class="back-button"
                pButton
                severity="secondary"
                label="Back"
                (click)="prev()"
              ></button>
              <button
                class="next-button"
                pButton
                severity="info"
                label="Complete Registration"
                (click)="next()"
              >
                <i class="pi pi-check-circle"></i>
              </button>
            </div>
          </div>
          } }
        </form>
      </div>
    </lib-card>
  </div>
</div>

<!-- Display the summary of errors below the form -->
<ng-template #errorMessages let-errors="errors">
  @if (getFormErrors().length > 0 ) {
  <div class="error-summary">
    <p>
      <i class="pi pi-exclamation-circle"></i>
      Please fix the following issues:
    </p>
    <ul>
      @for (error of getFormErrors(); track error) {
      <li>{{ error }}</li>
      }
    </ul>
  </div>
  }
</ng-template>
