@import '../../../../../projects/ui-lib/src/lib/styles/variables';
.onboarding-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  .onboarding-content {
    width: 90%;
    ::ng-deep {
      .p-card {
        .p-card-body {
          border-radius: 10px;
          padding: 0;
          .p-card-title, .p-card-subtitle {
            background: $primary-light;
            padding: 1.5rem;
            border-radius: 1rem 1rem 0 0;
            .custom-card-header {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            color: $white-color;
          }
          .p-card-footer{
            display: flex;
            align-items: center;
            .footer {
              flex: 1;
            }
          }
        }
      }
    }
    .onboarding-form {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .error-message {
        color: $danger-color;
        font-size: 0.8rem;
        margin-top: 0.5rem;
      }
    }
    .next-button, .back-button {
      margin: 1rem 1rem;
      font-size: 0.9rem;
      padding: 0.5rem 1.5rem;
    }
    .single-btn-container {
      display: flex;
      justify-content: end;
    }
    .button-container {
      display: flex;
      justify-content: space-between;
    }
    .error-summary {
      background-color: $danger-light-bg;
      margin: 1.5rem;
      padding: 1rem;
      border-radius: 1rem;
      font-size: 14px;
      color: $danger-color;
      font-weight: 500;
      p {
        margin: 0;
        display: flex;
        gap: 0.7rem;
      }
      ul {
        list-style-type: disc;
        margin-top: 0px;
      }
    }
  }
}

