<div class="onboarding-container">
  <div class="onboarding-content">
    <lib-card
      [cardType]="cardTypes.advanced"
      [header]="onBoadingHeader"
      [subHeader]="onBoadingSubHeader"
    >
      <div footer class="footer onboarding-content">
        <p-steps
          [model]="steps"
          [activeIndex]="activeIndex()"
          (activeIndexChange)="onStepChange($event)"
          [readonly]="false"
          styleClass="custom-steps"
        ></p-steps>
        <form [formGroup]="form">
          @switch (activeIndex()) { @case (onBoardingStep.signUp) {
          <div class="onboarding-form" formGroupName="signUp">
            <!-- Email Field -->
            <div class="form-group">
              <ng-container *ngIf="form.get('signUp.email') as email">
                <lib-input
                  [inputType]="inputTypes.email"
                  label="Email"
                  placeholder="Email"
                  formControlName="email"
                  [invalid]="email.invalid && email.touched"
                ></lib-input>

                <ng-container *ngIf="email.touched && email.invalid">
                  @if (email.errors?.['required']) {
                  <p class="error-message">Email is required.</p>
                  } @else if (email.errors?.['email']) {
                  <p class="error-message">Invalid email address.</p>
                  }
                </ng-container>
              </ng-container>
            </div>

            <!-- Password Field -->
            <div class="form-group">
              <ng-container *ngIf="form.get('signUp.password') as password">
                <lib-input
                  [inputType]="inputTypes.password"
                  label="Password"
                  placeholder="Password"
                  formControlName="password"
                  [invalid]="password.invalid && password.touched"
                ></lib-input>

                <ng-container *ngIf="password.touched && password.invalid">
                  @if (password.errors?.['required']) {
                  <p class="error-message">Password is required.</p>
                  } @else if (password.errors?.['minlength']) {
                  <p class="error-message">
                    Password must be at least 8 characters
                  </p>
                  }
                </ng-container>
              </ng-container>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
              <ng-container
                *ngIf="form.get('signUp.confirmPassword') as confirmPassword"
              >
                <lib-input
                  [inputType]="inputTypes.password"
                  [label]="'Confirm Password'"
                  [placeholder]="'Confirm Password'"
                  formControlName="confirmPassword"
                  [invalid]="confirmPassword.invalid && confirmPassword.touched"
                ></lib-input>

                <ng-container *ngIf="confirmPassword.touched">
                  @if (confirmPassword.errors?.['required']) {
                  <p class="error-message">Confirm Password is required.</p>
                  } @else if (confirmPassword.value !==
                  form.get('signUp.password')?.value) {
                  <p class="error-message">Passwords do not match</p>
                  }
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="single-btn-container">
            <ng-container
              *ngTemplateOutlet="
                errorMessages;
                context: { errors: getFormErrors('signUp') }
              "
            ></ng-container>
            <div class="button-container single-btn-container">
              <button
                class="next-button"
                severity="info"
                pButton
                label="Next"
                [disabled]="form.get('signUp')?.invalid"
                (click)="onStepChange(onBoardingStep.personalInformation)"
              ></button>
            </div>
          </div>
          } @case (onBoardingStep.personalInformation) {
          <div class="onboarding-form" formGroupName="personalInformation">
            <div
              class="form-group"
              *ngIf="form.get('personalInformation.firstName') as firstName"
            >
              <lib-input
                [inputType]="inputTypes.text"
                [label]="'First Name'"
                [placeholder]="'First Name'"
                formControlName="firstName"
                [invalid]="firstName.invalid && firstName.touched"
              ></lib-input>
              <ng-container *ngIf="firstName.invalid && firstName.touched">
                @if (firstName.errors?.['required']) {
                <p class="error-message">First name is required.</p>
                } @else if (firstName.errors?.['minlength']) {
                <p class="error-message">
                  First name must be at least 2 characters.
                </p>
                }
              </ng-container>
            </div>
            <div
              class="form-group"
              *ngIf="form.get('personalInformation.lastName') as lastName"
            >
              <lib-input
                [inputType]="inputTypes.text"
                [label]="'Last Name'"
                [placeholder]="'Last Name'"
                formControlName="lastName"
                [invalid]="lastName.invalid && lastName.touched"
              ></lib-input>
              <ng-container *ngIf="lastName.invalid && lastName.touched">
                @if (lastName.errors?.['required']) {
                <p class="error-message">Last name is required.</p>
                } @else if (lastName.errors?.['minlength']) {
                <p class="error-message">
                  Last name must be at least 2 characters.
                </p>
                }
              </ng-container>
            </div>
            <div
              class="form-group"
              *ngIf="form.get('personalInformation.gender') as gender"
            >
              <lib-select
                [selectStyle]="selectStyle.basic"
                [label]="'Gender'"
                [placeholder]="'Gender'"
                formControlName="gender"
                [invalid]="gender.invalid && gender.touched"
                [options]="genderOptions"
              ></lib-select>
              <ng-container *ngIf="gender.invalid && gender.touched">
                @if (gender.errors?.['required']) {
                <p class="error-message">Gender is required.</p>
                }
              </ng-container>
            </div>
            <div
              class="form-group"
              *ngIf="form.get('personalInformation.dateOfBirth') as dateOfBirth"
            >
              <lib-input
                [inputType]="inputTypes.date"
                [label]="'Date of Birth'"
                [placeholder]="'Date of Birth'"
                formControlName="dateOfBirth"
                [invalid]="dateOfBirth.invalid && dateOfBirth.touched"
              ></lib-input>
              <ng-container *ngIf="dateOfBirth.invalid && dateOfBirth.touched">
                @if (dateOfBirth.errors?.['required']) {
                <p class="error-message">Date of birth is required.</p>
                } @else if (dateOfBirth.errors?.['minAge']) {
                <p class="error-message">You must be at least 16 years old</p>
                }
              </ng-container>
            </div>
            <div
              class="form-group"
              *ngIf="form.get('personalInformation.phone') as phoneNumber"
            >
              <lib-input
                [inputType]="inputTypes.number"
                [label]="'Phone Number'"
                [placeholder]="'Phone Number'"
                formControlName="phone"
                [invalid]="phoneNumber.invalid && phoneNumber.touched"
              ></lib-input>
              <ng-container *ngIf="phoneNumber.invalid && phoneNumber.touched">
                @if (phoneNumber.errors?.['required']) {
                <p class="error-message">Phone number is required.</p>
                } @else if (phoneNumber.errors?.['minlength']) {
                <p class="error-message">
                  Phone number must be at least 10 characters.
                </p>
                }
              </ng-container>
            </div>
            <div
              class="form-group"
              *ngIf="form.get('personalInformation.address') as address"
            >
              <lib-textarea
                [inputType]="inputTypes.text"
                [label]="'Address'"
                [placeholder]="'Address'"
                formControlName="address"
                [invalid]="address.invalid && address.touched"
              ></lib-textarea>
              <ng-container *ngIf="address.invalid && address.touched">
                @if (address.errors?.['required']) {
                <p class="error-message">Address is required.</p>
                } @else if (address.errors?.['minlength']) {
                <p class="error-message">
                  Address must be at least 2 characters.
                </p>
                }
              </ng-container>
            </div>
            <div class="error-button-container">
              <ng-container
                *ngTemplateOutlet="
                  errorMessages;
                  context: { errors: getFormErrors('personalInformation') }
                "
              ></ng-container>
              <div class="button-container">
                <button
                  class="back-button"
                  pButton
                  severity="secondary"
                  label="Back"
                  (click)="onStepChange(onBoardingStep.signUp)"
                ></button>
                <button
                  class="next-button"
                  pButton
                  severity="info"
                  label="Next"
                  [disabled]="form.get('personalInformation')?.invalid"
                  (click)="onStepChange(onBoardingStep.educationInformation)"
                ></button>
              </div>
            </div>
          </div>
          } @case (onBoardingStep.educationInformation) {
          <div class="onboarding-form" formArrayName="educationInformation">
            <div
              class="form-array-entry"
              *ngFor="let education of educationArray.controls; let i = index"
              [formGroupName]="i"
            >
              <!-- Remove button at the top right -->
              <div class="entry-header">
                <h3>Education Entry #{{ i + 1 }}</h3>
                <button
                  type="button"
                  class="remove-btn"
                  (click)="educationArray.removeAt(i)"
                  *ngIf="educationArray.length > 1"
                >
                  <i class="pi pi-trash"></i>
                </button>
              </div>
              <!-- High School -->
              <div class="form-group">
                <lib-input
                  [inputType]="inputTypes.text"
                  [label]="'High School'"
                  [placeholder]="'Name of your high school'"
                  formControlName="school"
                  [invalid]="(education.get('school')?.invalid && education.get('school')?.touched) || false"
                ></lib-input>
                <ng-container *ngIf="education.get('school')?.invalid && education.get('school')?.touched">
                  @if (education.get('school')?.errors?.['required']) {
                  <p class="error-message">High school is required.</p>
                  }
                </ng-container>
              </div>

              <!-- Graduation Year -->
              <div class="form-group">
                <lib-select
                  [selectStyle]="selectStyle.basic"
                  [label]="'Graduation Year'"
                  [placeholder]="'Select Year'"
                  [options]="graduationYearOptions"
                  formControlName="graduationYear"
                  [invalid]="(education.get('graduationYear')?.invalid && education.get('graduationYear')?.touched) || false"
                ></lib-select>
                <ng-container *ngIf="education.get('graduationYear')?.invalid && education.get('graduationYear')?.touched">
                  @if (education.get('graduationYear')?.errors?.['required']) {
                  <p class="error-message">Graduation year is required.</p>
                  }
                </ng-container>
              </div>

              <!-- GPA -->
              <div class="form-group">
                <lib-input
                  [inputType]="inputTypes.number"
                  [label]="'GPA'"
                  [placeholder]="'e.g., 3.5'"
                  formControlName="gpa"
                  [invalid]="(education.get('gpa')?.invalid && education.get('gpa')?.touched) || false"
                ></lib-input>
                <ng-container *ngIf="education.get('gpa')?.invalid && education.get('gpa')?.touched">
                  @if (education.get('gpa')?.errors?.['required']) {
                  <p class="error-message">GPA is required.</p>
                  } @else if ( education.get('gpa')?.errors?.['min'] ||
                  education.get('gpa')?.errors?.['max'] ) {
                  <p class="error-message">GPA must be between 0 and 4.0.</p>
                  }
                </ng-container>
              </div>

              <!-- Intended Major -->
              <div class="form-group">
                <lib-input
                  [inputType]="inputTypes.text"
                  [label]="'Intended Major'"
                  [placeholder]="'e.g., Computer Science'"
                  formControlName="intendedMajor"
                  [invalid]="(education.get('intendedMajor')?.invalid && education.get('intendedMajor')?.touched) || false"
                ></lib-input>
                <ng-container *ngIf="education.get('intendedMajor')?.invalid && education.get('intendedMajor')?.touched">
                  @if (education.get('intendedMajor')?.errors?.['required']) {
                  <p class="error-message">Intended major is required.</p>
                  } @else if
                  (education.get('intendedMajor')?.errors?.['minlength']) {
                  <p class="error-message">
                    Intended major must be at least 2 characters.
                  </p>
                  }
                </ng-container>
              </div>

              <!-- Secondary Major -->
              <div class="form-group">
                <lib-input
                  [inputType]="inputTypes.text"
                  [label]="'Secondary Major/Minor'"
                  [placeholder]="'e.g., Mathematics'"
                  formControlName="secondaryMajor"
                  [invalid]="(education.get('secondaryMajor')?.invalid && education.get('secondaryMajor')?.touched) || false"
                ></lib-input>
                <ng-container *ngIf="education.get('secondaryMajor')?.invalid && education.get('secondaryMajor')?.touched">
                  @if (education.get('secondaryMajor')?.errors?.['required']) {
                  <p class="error-message">Secondary major is required.</p>
                  }
                </ng-container>
              </div>

              <!-- Extracurricular Activities -->
              <div class="form-group">
                <lib-textarea
                  [inputType]="inputTypes.text"
                  [label]="'Extracurricular Activities'"
                  [placeholder]="
                    'Describe your extracurricular activities, achievements, or positions held'
                  "
                  formControlName="extracurricularActivities"
                ></lib-textarea>
              </div>
              <hr />
            </div>

            <!-- Add Entry Button -->
            <div class="add-education-entry" (click)="addEducationEntry()">
              <i class="pi pi-plus-circle icon"></i>
              <span class="label">Add Another Education Entry</span>
            </div>

            <!-- Error Messages -->
            <ng-container
              *ngTemplateOutlet="
                errorMessages;
                context: { errors: getFormErrors('educationInformation') }
              "
            ></ng-container>

            <!-- Navigation Buttons -->
            <div class="button-container">
              <button
                class="back-button"
                pButton
                severity="secondary"
                label="Back"
                (click)="onStepChange(onBoardingStep.personalInformation)"
                ></button>
              <button
                class="next-button"
                pButton
                severity="info"
                label="Complete Registration"
                [disabled]="form.get('educationInformation')?.invalid"
                (click)="completeRegistration()"
              >
              <i class="pi pi-check-circle"></i>
            </button>
          </div>
          </div>
          } }
        </form>
      </div>
    </lib-card>
  </div>
</div>

<!-- Display the summary of errors below the form -->
<ng-template #errorMessages let-errors="errors" let-section="section">
  @if (errors.length > 0) {
  <div class="error-summary">
    <p>
      <i class="pi pi-exclamation-circle"></i>
      Please fix the following issues in {{ section | titlecase }}:
    </p>
    <ul>
      @for (error of errors; track error) {
      <li>{{ error }}</li>
      }
    </ul>
  </div>
  }
</ng-template>


<lib-toast></lib-toast>