.sidebar-menu {
  width: 250px;
  height: 100vh;
  background-color: #1e293b;
  border: none;
  color: #fff;
}

.p-panelmenu .p-panelmenu-header {
  background: #1e293b;
  color: #fff;
  border: none;
}

.p-panelmenu .p-panelmenu-content {
  background: #1e293b;
  color: #fff;
}

.p-menuitem-link {
  color: #fff;
}

.p-menuitem-link:hover {
  background-color: #334155;
}
